apiVersion: v1
kind: Service
metadata:
  name: node-red-service
  namespace: automation
spec:
  selector:
    app: node-red
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 1880

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-red-deployment
  namespace: automation
  labels:
    app: node-red
  annotations:
    fluxcd.io/automated: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-red
  template:
    metadata:
      labels:
        app: node-red
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
      - name: node-red
        image: wilkobets/smart-home-actions:latest
        ports:
        - containerPort: 1880
        imagePullPolicy: Always
        envFrom:
          - secretRef:
              name: actions-secrets  
      