apiVersion: apps/v1
kind: Deployment
metadata:
  name: influxdb-deployment
  namespace: storage
spec:
  selector:
    matchLabels:
      app: influxdb
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: influxdb
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
        - image: influxdb:1.7.10
          name: influxdb
          ports:
            - containerPort: 8086
            - containerPort: 8088
          volumeMounts:
            - mountPath: /var/lib/influxdb
              name: influxdb-data
            - mountPath: /etc/influxdb/influxdb.conf
              name: influxdb-config
              subPath: influxdb.conf
              readOnly: true
          envFrom:
            - secretRef:
                name: influxdb-secrets
          resources:
            requests:
              memory: "512Mi"
            limits:
              memory: "3Gi"
      volumes:
        - name: influxdb-data
          persistentVolumeClaim:
            claimName: influxdb-data-vnext
        - name: influxdb-config
          configMap:
            name: influxdb-config