apiVersion: apps/v1
kind: Deployment
metadata:
  name: price-store
  namespace: marketinsights
spec:
  selector:
    matchLabels:
      app: marketinsights
  template:
    metadata:
      labels:
        app: marketinsights
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
        - image: wilkobets/marketinsights-price-store
          name: price-store
          tty: true
          imagePullPolicy: Always
          volumeMounts:
          - mountPath: /usr/app/datasources
            name: price-store-data
      volumes:
      - name: price-store-data
        persistentVolumeClaim:
          claimName: price-store-data