# Usage: 
# kubectl create secret generic squid-ssl-cert --from-file=myCA.pem=./myCA.pem --namespace=public --dry-run=client -o yaml > squid-ssl-secret.yaml
# kubeseal < squid-ssl-secret.yaml -o yaml > squid-ssl-sealed-secret.yaml

apiVersion: v1
data:
  myCA.pem: <ROOT CERT PEM FILE>
kind: Secret
metadata:
  creationTimestamp: null
  name: squid-ssl-cert
  namespace: public
