apiVersion: v1
kind: ConfigMap
metadata:
  namespace: system
  name: config
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - 192.168.1.201-192.168.1.210