apiVersion: apps/v1
kind: Deployment
metadata:
  name: lgtv
  namespace: devices
spec:
  selector:
    matchLabels:
      app: lgtv
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: lgtv
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      initContainers:
        - name: copy-keys
          image: busybox
          command: ['sh', '-c', 'cp /secret-keys/* /root/.lgtv2/ || true']
          volumeMounts:
          - mountPath: /secret-keys
            name: lgtv-secret
            readOnly: true
          - mountPath: /root/.lgtv2
            name: lgtv-keys
      containers:
        - image: wilkobets/lgtv2mqtt:latest
          name: lgtv
          imagePullPolicy: Always
          env:
          - name: LGTV2MQTT_ARGS
            value: "-t 192.168.1.12 -u mqtt://192.168.1.202"
          volumeMounts:
          - mountPath: /root/.lgtv2
            name: lgtv-keys
      restartPolicy: Always
      volumes:
      - name: lgtv-keys
        emptyDir: {}
      - name: lgtv-secret
        secret:
          secretName: lgtv-secret
          items:
          - key: keyfile-192.168.1.12
            path: keyfile-192.168.1.12
          - key: keyfile-192.168.1.8
            path: keyfile-192.168.1.8