# kubectl create secret generic zerotier-secret -n dev --dry-run=client --from-env-file=zerotier-secrets.txt -o yaml > zerotier-secret.yaml
# kubeseal < zerotier-secret.yaml -o yaml > zerotier-sealed-secret.yaml
#
# https://github.com/zerotier/ZeroTierOne/blob/dev/README.docker.md

NETWORK_ID=<NETWORK_ID>
authtoken.secret=<AUTHTOKEN>
identity.public=<ZT_PUBLIC_FILE>
identity.secret=<ZT_PRIVATE_FILE>
