apiVersion: v1
kind: Service
metadata:
  name: mqtt
  namespace: automation
  labels:
    app: mqtt
    kubernetes.io/name: "mqtt"
spec:
  selector:
    app: mqtt
  type: LoadBalancer
  loadBalancerIP: 192.168.1.202
  ports:
  - name: mqtt
    port: 1883

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtt
  namespace: automation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mqtt
  template:
    metadata:
      labels:
        app: mqtt
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
      - name: mqtt
        image: eclipse-mosquitto:1.6
        ports:
        - containerPort: 1883