apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-mgr
  namespace: marketinsights
spec:
  selector:
    matchLabels:
      app: portfolio-mgr
  template:
    metadata:
      labels:
        app: portfolio-mgr
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
        - image: wilkobets/marketinsights-portfolio-mgr
          name: portfolio-mgr
          tty: true
          imagePullPolicy: Always