# Usage: 
# kubeseal < airflow-nas-secret.yaml -o yaml > airflow-nas-sealed-secret.yaml

apiVersion: v1 
kind: Secret 
metadata: 
  name: airflow-nas-secret 
  namespace: actions
type: Opaque
stringData:
  NAS_USER: <NAS USER>
  NAS_PASSWORD: <NAS PW>
  NAS_HOST: <NAS HOST IP>