# Usage: 
# kubeseal -f airflow-econometrics-secret.yaml -w airflow-econometrics-sealed-secret.yaml

apiVersion: v1 
kind: Secret 
metadata: 
  name: airflow-econometrics-secret 
  namespace: actions
type: Opaque
stringData:
  BLS_API_KEY: <API KEY>
  FRED_API_KEY: <API KEY>
  BEA_API_KEY: <API KEY>
  DATABASE_URL: <ECON_DB_URL>





