# Source: fluent-bit/templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentbit-fluent-bit
  namespace: iot
  labels:
    helm.sh/chart: fluent-bit-0.55.0
    app.kubernetes.io/name: fluent-bit
    app.kubernetes.io/instance: fluentbit
    app.kubernetes.io/version: "4.2.2"
    app.kubernetes.io/managed-by: Helm
data:
  custom_parsers.conf: |
    
  fluent-bit.conf: |
    [SERVICE]
        Daemon Off
        Flush 1
        Log_Level info
        Parsers_File /fluent-bit/etc/parsers.conf
        Parsers_File /fluent-bit/etc/conf/custom_parsers.conf
        HTTP_Server On
        HTTP_Listen 0.0.0.0
        HTTP_Port 2020
        Health_Check On
    
    [INPUT]
        Name tail
        Path /var/log/containers/*.log
        Exclude_Path /var/log/containers/fluentbit-fluent-bit*.log
        multiline.parser docker, cri
        Tag kube.*
        Mem_Buf_Limit 5MB
        Skip_Long_Lines On
    
    [FILTER]
        Name kubernetes
        Match kube.*
        Merge_Log On
        Keep_Log Off
        K8S-Logging.Parser On
        K8S-Logging.Exclude On

    [OUTPUT]
        Name          loki
        Match         *
        Host          loki.storage.svc.cluster.local
        Port          3100
        Labels        job=fluentbit, $kubernetes['namespace_name'], $kubernetes['pod_name'], $kubernetes['container_name']