# kubectl create secret generic ssh-secret -n dev --dry-run=client --from-env-file=ssh-secrets.txt -o yaml > ssh-secret.yaml
# kubeseal < ssh-secret.yaml -o yaml > ssh-sealed-secret.yaml

USERNAME=<SSH USER>
PASSWORD=<SSH PASS>
SSH_PORT=<PORT>>
PUBLIC_KEY=<PUBLIC ID_RSA KEY>