apiVersion: apps/v1
kind: Deployment
metadata:
  name: smart-home-collector
  namespace: triggers
spec:
  selector:
    matchLabels:
      app: smart-home-collector
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: smart-home-collector
    spec:
      serviceAccountName: telegraf
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
        - image: wilkobets/telegraf:latest
          name: telegraf
          imagePullPolicy: Always
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /etc/telegraf/telegraf.conf
              name: smart-home-collector-config
              subPath: telegraf.conf
              readOnly: true
          envFrom:
            - secretRef:
                name: telegraf-secrets
      volumes:
        - name: smart-home-collector-config
          configMap:
            name: smart-home-collector-config
