apiVersion: apps/v1
kind: Deployment
metadata:
  name: tuya
  namespace: iot
spec:
  selector:
    matchLabels:
      app: tuya
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: tuya
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
        - image: wilkobets/tuya2mqtt:latest
          name: tuya
          imagePullPolicy: Always
          env:
          - name: TUYA2MQTT_ARGS
            value: "-v debug -f /usr/app/config/tuya-devices.yaml -u mqtt://192.168.1.202"
          volumeMounts:
          - mountPath: /usr/app/config
            name: tuya-devices-secret
            readOnly: true      
      restartPolicy: Always
      volumes:         
      - name: tuya-devices-secret
        secret:
          secretName: tuya-devices-secret
          items:
          - key: tuya-devices.yaml
            path: tuya-devices.yaml
          