apiVersion: apps/v1
kind: Deployment
metadata:
  name: model-server
  namespace: marketinsights
spec:
  selector:
    matchLabels:
      app: model-server
  template:
    metadata:
      labels:
        app: model-server
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
        - image: emacski/tensorflow-serving:2.6.0
          name: model-server
          imagePullPolicy: Always
          volumeMounts:
          - mountPath: /models
            name: model-server-data
          args: ["--model_config_file=/models/models.config"]
          ports:
          - containerPort: 8500
            protocol: TCP
          
      volumes:
      - name: model-server-data
        persistentVolumeClaim:
          claimName: model-server-data