apiVersion: v1
kind: Service
metadata:
  name: squid-service
  namespace: public
  labels:
    app: squid
spec:
  type: NodePort
  selector:
    app: squid
  ports:
  - name: proxy
    port: 3128
    targetPort: 3128
    nodePort: 30128
    protocol: TCP
  - name: api
    port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP