apiVersion: v1 
kind: Secret 
metadata: 
  name: airflow-connections 
  namespace: actions
type: Opaque
stringData:
  # AIRFLOW_CONN_<CONN_ID>='my-conn-type://login:password@host:port/schema?param1=val1&param2=val2'
  AIRFLOW_CONN_NAS: <NAS CONNECTION INFO>