apiVersion: v1

kind: Secret
metadata:
  name: arlo-secrets
  namespace: devices
type: Opaque
stringData:
  # Edit the following and remove .example suffix
  ARLO_USERNAME: <ARLO USERNAME>
  ARLO_PASSWORD: <ARLO PASSWORD>
