# To generate sealed secret:
#
# kubeseal -o yaml < backup-secrets.yaml > backup-sealed-secrets.yaml
#

apiVersion: v1

kind: Secret
metadata:
  name: backup-secrets
  namespace: storage
type: Opaque
stringData:
  # Edit the following and remove .example suffix
  NAS_USER: <NAS SERVER USERNAME>
  NAS_PASSWORD: <NAS SERVER PW>