# cat gmail.credentials | base64 > gmail.credentials.b64

# kubectl create secret generic gmail-secret --dry-run=client -n devices --from-file=<BASE64 GMAIL CREDS FILE, e.g. gmail.credentials.b64> -o yaml >  gmail-secret.yaml

# kubeseal -o yaml < gmail-secret.yaml > gmail-sealed-secret.yaml

apiVersion: v1
data:
  gmail.credentials: <gmail api creds>
kind: Secret
metadata:
  creationTimestamp: null
  name: gmail-secret
  namespace: devices
