apiVersion: v1

kind: Secret
metadata:
  name: googlefit-secrets
  namespace: devices
type: Opaque
stringData:
  # Edit the following and remove .example suffix
  CLIENT_ID: 
  CLIENT_SECRET: 
  REFRESH_TOKEN: 
  TOKEN_URL: "https://oauth2.googleapis.com/token"
