apiVersion: v1

kind: Secret
metadata:
  name: grafana-secrets
type: Opaque
stringData:
  # Edit the following and remove .example suffix
  GF_SECURITY_ADMIN_USER: <GRAFANA USER>
  GF_SECURITY_ADMIN_PASSWORD: <GRAFANA PASSWORD>