apiVersion: v1

kind: Secret
metadata:
  name: hive-secrets
  namespace: devices
type: Opaque
stringData:
  # Edit the following and remove .example suffix
  HIVE_USERNAME: <HIVE HOME USERNAME>
  HIVE_PASSWORD: <HIVE HOME PASSWORD>