apiVersion: v1

kind: Secret
metadata:
  name: influxdb-secrets
type: Opaque
stringData:
  # Edit the following and remove .example suffix
  INFLUXDB_CONFIG_PATH: /etc/influxdb/influxdb.conf
  INFLUXDB_ADMIN_USER: admin
  INFLUXDB_ADMIN_PASSWORD: admin
  INFLUXDB_DB: exampleDB
  INFLUXDB_USER: dbuser
  INFLUXDB_USER_PASSWORD: dbpass