apiVersion: v1

kind: Secret
metadata:
  name: kapacitor-secrets
  namespace: alerting
type: Opaque
stringData:
  KAPACITOR_INFLUXDB_0_URLS_0: <INFLUXDB_URL>
  KAPACITOR_INFLUXDB_0_USERNAME: <INFLUXDB USER>
  KAPACITOR_INFLUXDB_0_PASSWORD: <INFLUXDB PASS>
