# To generate sealed secret:
#
# kubeseal -o yaml < kapacitor-secrets.yaml > kapacitor-sealed-secrets.yaml
#

apiVersion: v1

kind: Secret
metadata:
  name: kapacitor-secrets
  namespace: alerting
type: Opaque
stringData:
  KAPACITOR_INFLUXDB_0_URLS_0: <INFLUXDB_URL>
  KAPACITOR_INFLUXDB_0_USERNAME: <INFLUXDB USER>
  KAPACITOR_INFLUXDB_0_PASSWORD: <INFLUXDB PASS>
  KAPACITOR_PUSHOVER_USER_KEY: <PUSHOVER ACCOUNT KEY>
  KAPACITOR_PUSHOVER_TOKEN: <PUSHOVER_ACCOUNT_TOKEN>
