
# echo -n <LOGDNA_KEY> | kubectl create secret generic logdna-secret -n alerting --dry-run=client --from-file=foo=/dev/stdin -o yaml >logdna-secret.yaml

# kubeseal < logdna-secret.yaml -o yaml > logdna-sealed-secret.yaml

apiVersion: v1
data:
  key: <GENERATED>
kind: Secret
metadata:
  creationTimestamp: null
  name: logdna-secret
  namespace: alerting
