# kubectl create secret generic marketinsights-api-secret --dry-run --from-file=datasources.json=datasources.json -o yaml > marketinsights-api-secret.yaml
# kubeseal -o yaml < marketinsights-api-secret.yaml > marketinsights-api-sealed-secret.yaml

apiVersion: v1
data:
  datasources.json: <content from marketinsights-api/server/datasources.json>
kind: Secret
metadata:
  creationTimestamp: null
  name: marketinsights-api-secret
