apiVersion: v1

kind: Secret
metadata:
  name: mqtt-secrets
  namespace: devices
type: Opaque
stringData:
  # Edit the following and remove .example suffix
  MQTT_HOST: <MQTT HOST>
  MQTT_PORT: <MQTT PORT>
