apiVersion: v1

kind: Secret
metadata:
  name: postgres-secret
  namespace: storage
type: Opaque
stringData:
  POSTGRES_DB: <DBNAME>
  POSTGRES_USER: <ADMIN USER>
  POSTGRES_PASSWORD: <ADMIN PW>
  PGDATA: /var/lib/postgresql/data/<PATH>
