

# Usage: 
# kubectl create secret tls squirrelnet-tls --cert=fullchain.crt --key=squirrelnet.co.uk.key --namespace=public --dry-run=client -o yaml > squirrelnet-tls-secret.yaml
# kubeseal < squirrelnet-tls-secret.yaml -o yaml > squirrelnet-tls-sealed-secret.yaml

apiVersion: v1
data:
  tls.crt: <FULL CHAIN CERT>
  tls.key: <PRIVATE KEY>
kind: Secret
metadata:
  creationTimestamp: null
  name: squirrelnet-tls
  namespace: public
type: kubernetes.io/tls
