# Usage: 
# kubectl create secret generic tuya-devices-secret --dry-run --from-file=tuya-devices.yaml=tuya-devices.yaml -o yaml > tuya-devices-secret.yaml
#
# kubeseal < tuya-devices-secret.yaml -o yaml > tuya-devices-sealed-secret.yaml


--- # TUYA device mappings : See https://github.com/codetheweb/tuyapi
- name: device1
  dps: 1
  ip: 192.168.1.xx
  id: xxxxxxxxxxxxxxxxx
  key: xxxxxxxxxxxxxxxxxx
  version: 3.3
- name: device2
  dps: 2
  ip: 192.168.1.xx
  id: xxxxxxxxxxxxxxxxx
  key: xxxxxxxxxxxxxxxxxx
  version: 3.3

    